#ifndef arduino_secrets_h
#define arduino_secrets_h

// RF settings
#define SECRET_RF_ENCRYPTION_KEY "abcdefg123456789" // Must be 16 characters

// WiFi settings
#define WIFI_SSID "ssid"
#define WIFI_PASSWORD "password"

// OTA Update settings
#define OTA_PASSWORD_MD5_HASH "hash"

// MQTT settings
#define MQTT_BROKER_HOST "host"


// TLS settings
const char* root_ca_certificate = \
    "-----BEGIN CERTIFICATE-----\n" \
    "-----END CERTIFICATE-----\n";

const char* client_certificate = \
    "-----BEGIN CERTIFICATE-----\n" \
    "-----END CERTIFICATE-----\n";

const char* client_private_key = \
    "-----BEGIN RSA PRIVATE KEY-----\n" \
    "-----END RSA PRIVATE KEY-----\n";

#endif